.tags {
    margin-top: 1rem;
}

.tag {
    background: var(--secondary-color);
    color: var(--text-light);
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    display: inline-block;
}
