
body{
    font-style: "Roboto";
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    box-sizing: border-box;
    
}
header, main, footer{
    max-width: 640px;
    
    margin: 1rem, auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #e0f7fa;
}
main{
    display: grid;
    grid-template-columns: 1fe;
    grid-gap: 1rem;
}

section{
    padding: 10px;
    background-color: white;
}
footer,p{
    text-align: left;
}
}

@media screen and (min-width: 500px) {
    header {
      background-color: black;
      color: white;
    }
  
    main {
      grid-template-columns: 1fr 1fr;
    }
}