
body, h1, img, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: #243C94;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    text-align: center;
    color: white;
}

.name h1 {
    font-size: 2.5em;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(26, 54, 214, 0.1);
    padding: 30px;
    margin-top:  200px;
}

.login-option {
    text-align: center;
    flex: 1;
    margin: 10px;
}

.login-option img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.login-option img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
footer {
    margin-top: auto;
    padding: 10px 0;
    background-color: #243C94;
    color: white;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}
