body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

.dashboard-container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
}

.logo-image {
    width: 200px; 
    height: auto;
}

h1, h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea, form button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

form button:hover {
    background-color: #0056b3;
}

.navbar {
    background-color: #333; 
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 10px 20px; 
    background-color: #243C94;
   
}

.nav-links {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px; 
}

.nav-links a {
    text-decoration: none; 
    color: white; 
    font-size: 16px; 
    padding: 8px 15px; 
    transition: background-color 0.3s ease; 
}

.nav-links a:hover {
    background-color: #575757; 
    border-radius: 5px; 
}
