 .skiptocontent a{
    position: absolute;
    top: -40px;
    background-color: #EFC69B;
}
.skiptocontent a:focus{
    left: 0;
}

.menu {
    display: grid;
    grid-template-columns: 0.04fr 0.04fr 0.04fr;
    justify-content: flex-end; 
    
}

.menu ul {
    padding: 0; 
    margin: 0; 
    display: contents; 
}

.menu li {
    text-align: left; 
    list-style: none;
}

.menu a {
    text-decoration: none; 
    color: #333; 
    padding: 10px 0;
    display: block; 
}

/* Main Content Styles */
 main {
    padding: 20px;
}

.content-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.articles {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filter-box {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
 

.skiptocontent a {
    position: absolute; /* Set absolute positioning */
    left: -9999px; /* Move it off-screen */
    background-color: #AF1B3F; /* Red color to stand out */
    color: #FFFFFF; /* White text color */
    padding: 10px 15px; /* Some padding for a better click area */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Optional: rounded corners */
    transition: left 0.3s ease; /* Smooth transition when moving */
}

.skiptocontent a:focus {
    left: 10px; /* Move it back on-screen when focused */
    z-index: 1000; /* Ensure it's above other content */
}
